.todo-row {
  display: flex;
  font-size: 24px;
  width: 650px;
  height: 57px;
  border: 0.5px solid #4d4d4d;
  
}
.update-delete-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  font-size: 10px;
}
.delete-button {
  display: none;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

.todo-list :hover .delete-button {
  display: block;
  color: #4d4d4d;
}

.check-box {
  margin-right: 15px;
}

.checkbox-msg-container {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
