.filter-list {
  color: #777777;
  fontsize: 14px;
  width: 391px;
  height: 50px;
  border: solid 1px;
  display: flex;
  flexdirection: row;
  justifycontent: space-around;
  alignitems: center;
  backgroundcolor: white;
}
